{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="mod_paper_developer_page">
    <p class="text-muted mb-3">
        {{#str}}developerpagehelp, mod_paper{{/str}}
    </p>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{#str}}viewsubmissioncrops, mod_paper{{/str}}</h5>
            <p class="card-text text-muted small">{{#str}}viewsubmissioncropshelp, mod_paper{{/str}}</p>

            {{#noevaluations}}
                <div class="alert alert-info">
                    {{#str}}noevaluationsyet, mod_paper{{/str}}
                </div>
            {{/noevaluations}}

            {{^noevaluations}}
                <form method="get" action="{{selecturl}}" class="form-inline">
                    <input type="hidden" name="id" value="{{id}}">
                    <label for="developer-evalid" class="mr-2">{{#str}}selectsubmission, mod_paper{{/str}}</label>
                    <select name="evalid" id="developer-evalid" class="form-control mr-2">
                        <option value="0">{{#str}}choosedots, mod_paper{{/str}}</option>
                        {{#evaluationoptions}}
                            <option value="{{id}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                        {{/evaluationoptions}}
                    </select>
                    <button type="submit" class="btn btn-primary">{{#str}}viewcrops, mod_paper{{/str}}</button>
                </form>
            {{/noevaluations}}
        </div>
    </div>

    {{#showgallery}}
        <h5>{{galleryheading}}</h5>
        <div class="row">
            {{#areas}}
                <div class="col-md-3 col-sm-4 col-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body p-2 text-center">
                            <div class="small text-muted mb-1">#{{responsenumber}} &middot; {{areatype}}</div>
                            {{#imageurl}}
                                <img src="{{imageurl}}" class="img-fluid border" alt="">
                            {{/imageurl}}
                            {{^imageurl}}
                                <div class="alert alert-secondary small mb-0">
                                    {{#str}}nocropavailable, mod_paper{{/str}}
                                </div>
                            {{/imageurl}}
                        </div>
                    </div>
                </div>
            {{/areas}}
        </div>
    {{/showgallery}}

    <div class="mt-2 mb-3">
        <a href="{{returntoreportsurl}}" class="btn btn-secondary">{{#str}}returntoreports, mod_paper{{/str}}</a>
    </div>
</div>
