{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="mod_paper_reports_page">
    <p class="text-muted mb-3">
        {{#str}}reports_help, mod_paper{{/str}}
    </p>

    {{#noevaluations}}
        <div class="alert alert-info text-center mt-4 mb-4">
            {{#str}}noevaluationsyet, mod_paper{{/str}}
        </div>
    {{/noevaluations}}

    {{^noevaluations}}
        <table class="generaltable table table-striped mt-3">
            <thead>
                <tr>
                    <th>{{#str}}evaluationid, mod_paper{{/str}}</th>
                    <th>{{#str}}studentname, mod_paper{{/str}}</th>
                    <th>{{#str}}totalgrade, mod_paper{{/str}}</th>
                    <th>{{#str}}actions, mod_paper{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#evaluations}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{studentname}}</td>
                    <td>{{totalgrade}}</td>
                    <td>
                        {{#actions}}
                            <a href="{{url}}" class="{{class}}" title="{{title}}" {{#target}}target="{{target}}"{{/target}} {{#onclick}}onclick="{{onclick}}"{{/onclick}}>
                                {{{icon}}}
                            </a>
                        {{/actions}}
                    </td>
                </tr>
                {{/evaluations}}
            </tbody>
        </table>

        {{#pendingoverall}}
            <div class="alert alert-info mb-3 small">
                {{#str}}processingevaluations, mod_paper{{/str}}
            </div>
        {{/pendingoverall}}
    {{/noevaluations}}

    <div class="mt-3 mb-3 d-flex flex-wrap" style="gap: 10px;">
        {{#actionbuttons}}
            {{#disabled}}
                <button type="button" class="{{class}} disabled" disabled title="{{title}}">{{text}}</button>
            {{/disabled}}
            {{^disabled}}
                <a href="{{url}}" class="{{class}}" {{#target}}target="{{target}}"{{/target}} {{#onclick}}onclick="{{onclick}}"{{/onclick}}>{{text}}</a>
            {{/disabled}}
        {{/actionbuttons}}
    </div>

    <div class="mt-2 mb-3">
        <a href="{{returntotopurl}}" class="btn btn-secondary">{{#str}}returntotop, mod_paper{{/str}}</a>
    </div>
</div>
