{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="mod_paper_view_page">
    {{#ismanager}}
        <div class="generalbox">
            {{^hasareas}}
                <div class="alert alert-warning">
                    {{#str}}setupnotcomplete, mod_paper{{/str}}
                </div>
                <a href="{{setupurl}}" class="btn btn-primary">{{#str}}viewsetup, mod_paper{{/str}}</a>
            {{/hasareas}}
            {{#hasareas}}
                <div class="mb-3">
                    <a href="{{setupurl}}" class="btn btn-secondary mr-2">{{#str}}viewsetup, mod_paper{{/str}}</a>
                    <a href="{{processurl}}" class="btn btn-primary mr-2">{{#str}}uploadsubmissions, mod_paper{{/str}}</a>
                    <a href="{{reportsurl}}" class="btn btn-info mr-2">{{#str}}viewreports, mod_paper{{/str}}</a>
                    <a href="{{presetsurl}}" class="btn btn-outline-primary">{{#str}}managepresets, mod_paper{{/str}}</a>
                </div>
                <p class="mt-3">
                    {{#str}}totalevaluationsprocessed, mod_paper, {{evalcount}}{{/str}}
                </p>
            {{/hasareas}}
        </div>
    {{/ismanager}}
    {{^ismanager}}
        <div class="box p-3 border rounded bg-light">
            {{#str}}studentviewmessage, mod_paper{{/str}}
        </div>
    {{/ismanager}}
</div>
